Source: pars-about
Section: utils
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper (>= 10), meson
Standards-Version: 4.3.0
Homepage: https://github.com/parslinux/Pars-About

Package: pars-about
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3 (>=3.5),
         python3-gi,
         mesa-utils,
         pciutils,
         gir1.2-gtk-3.0,
         lsb-release,
         python3-requests,
         gir1.2-glib-2.0,
         gir1.2-soup-2.4,
         python3-cairosvg,
         python3-cups,
         gir1.2-gudev-1.0,
         pkexec,
         hwdata,
         dconf-cli
Recommends: libnss-myhostname
Description: About Pardus
 Get detailed system information about your Pardus system.
